html, body {
	height: 100%;
}
body {
	background: #f2f2f2 url('../images/bg-tile.png');
	overflow-x: hidden;
}
::-webkit-scrollbar { 
    display: block;
}
.container {
	position: relative;
	width: 620px;
	min-height: 30%;
	margin: 0 auto 15% auto;
	white-space: nowrap;
}
.container:first-child {
	min-height: 100%;
	margin: 0 auto;
}
.container:last-of-type {
	margin-bottom: 6%;
}
.profile {
	display: inline-block;
	width: 100%;
}
.profile h1.name {
	font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
	font-size: 2.6em;
	color: #454545;
	text-shadow: 2px 2px #CCCCCC;
	margin: 0.1em 0;
}
.profile h2.subtitle {
	font-family: "Bree Serif", "Trebuchet MS", Arial, sans-serif;
	font-size: 1.5em;
	color: #777777;
	margin: 0.05em 0 1.05em;
	padding-left: 0.35em;
}
.profile p {
	font-family: "Bree Serif", "Trebuchet MS", Arial, sans-serif;
	color: #555555;
	font-size: 1.15em;
	margin: 0.05em 0;
	padding-left: 0.15em;
}
.profile-left, .profile-right {
	display: table-cell;
	vertical-align: middle;
}
.profile-right {
	padding-left: 2em;
}
.thumbnail {
	height: 125px;
	width: 125px;
	overflow: hidden;
	border-radius: 20%;
	background: #F2F2F2;
	box-shadow: 0px 0px 0px 0.45em rgba(255, 255, 255, 0.35);
	transition: all 500ms;
}
.thumbnail:hover {
	box-shadow: 0px 0px 0px 0.7em rgba(255, 255, 255, 0.65);
}
.thumbnail img {
	width: 100%;
	transition: all 500ms;
}
.thumbnail:hover img {
	-webkit-transform: scale(1.65) translateY(15%);
	   -moz-transform: scale(1.65) translateY(15%);
	    -ms-transform: scale(1.65) translateY(15%);
	     -o-transform: scale(1.65) translateY(15%);
	        transform: scale(1.65) translateY(15%);
}
.socialContainer {
	margin: 2em auto;
	padding-left: 150px;
}
.socialContainer a {
	color: inherit;
}
.socialContainer i {
	margin: 0 25px;
	transition-property: color;
	transition-duration: 250ms;
}
.socialContainer i.github:hover {
	color: #767676;
}
.socialContainer i.facebook:hover {
	color: #3A5795;
}
.socialContainer i.youtube:hover {
	color: #CC181E;
}
.block h1.title {
	font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
	font-size: 2.6em;
	color: #454545;
	text-shadow: 2px 2px #CCCCCC;
	margin: 0.25em 0 0.65em 0;
	padding-left: 0.35em;
	border-bottom: 1px dashed #AAA;
}
.block ul {
	font-family: "Bree Serif", "Trebuchet MS", Arial, sans-serif;
	color: #555555;
	font-size: 1.25em;
	margin-top: 0.75em;
	padding-left: 0;
	padding-right: 0;
	white-space: normal;
	list-style: none;
}
.block li {
	position: relative;
	padding: 0.25em 1.25em 0.25em 1em;
	margin-bottom: 1.75em;
	border-radius: 5px;
	transition: all 500ms;
}
.block li img.pawprint {
	position: absolute;
	top: 0px;
	right: -10px;
	opacity: 0;
	transition: all 500ms;
}
.block li.hover {
	background: rgba(255,255,255,0.75);
	background-clip: padding-box;
}
.block li.hover img.pawprint {
	opacity: 1;
	top: -18px;
}
.block a {
	color: inherit;
	text-decoration: none;
	transition: all 300ms;
}
.block a:hover {
	color: green;
}
.block p {
	margin: 0.55em 0;
}
.block p.during {
	font-style: italic;
	text-align: right;
	margin-top: 0.35em;
}
.block .basic p, .block .detail p {
	margin-bottom: 0.75em;
}
.block li p.title {
	font-size: 1.15em;
}
.block li p:not(.title) {
	padding-left: 0.5em;
}
.block li .detail {
	max-height: 0;
	color: #656565;
	opacity: 0;
	margin: 0 0 0 0.25em;
	-webkit-transition: opacity 350ms, max-height 750ms;
	   -moz-transition: opacity 350ms, max-height 750ms;
	    -ms-transition: opacity 350ms, max-height 750ms;
	     -o-transition: opacity 350ms, max-height 750ms;
	        transition: opacity 350ms, max-height 750ms;
}
.block li .detail .name {
	padding-left: 0.55em;
	padding-right: 0.35em;
}
.block li.hover .detail {
	max-height: 5em;
	opacity: 1;
	-webkit-transition: opacity 550ms, max-height 1750ms;
	   -moz-transition: opacity 550ms, max-height 1750ms;
	    -ms-transition: opacity 550ms, max-height 1750ms;
	     -o-transition: opacity 550ms, max-height 1750ms;
	        transition: opacity 550ms, max-height 1750ms;
}
.block li.hover > :last-child {
	margin-top: 1em;
}
footer {
	background-image: url('../images/footer-husky.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto 120%;
	height: 275px;
	text-align: center;
	font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
}
footer:before {
	display: inline-block;
	content: '';
	vertical-align: bottom;
	height: 100%;
}
footer .copyright {
	display: inline-block;
	width: 90%;
	height: 2em;
	font-size: 1.25em;
	line-height: 2em;
}
@media screen and (max-width: 767px) {
	.container {
		width: 480px;
	}
	.container:last-of-type {
		margin-bottom: 12%;
	}
	.profile .nickname {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.container {
		width: 320px;
	}
	.container:last-of-type {
		margin-bottom: 25%;
	}
	.profile h2.subtitle {
		margin-bottom: 0.75em;
	}
	.profile p {
		font-size: 1.05em;
		margin: 0.45em 0;
	}
	.profile h1.name, .profile h2.subtitle, .profile p {
		text-align: center;
	}
	.profile h2.subtitle {
		padding: 0;
	}
	.profile-left, .profile-right {
		display: table;
	}
	.profile-left {
		margin: 1em auto;
	}
	.profile-right {
		padding-left: 0;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.socialContainer {
		text-align: center;
		padding-left: 0;
	}
	.block h1.title {
		font-size: 2.25em;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	.block .basic p, .block .detail p {
		margin-bottom: 1.25em;
	}
	footer {
		background-position: center top;
	}
	footer .copyright {
		background-color: rgba(255, 255, 255, 0.85);
		border-radius: 5px;
	}
}