.hide {
	display: none;
}

.content {
    width: 80%;
    padding: 30px;
    margin: 50px auto;
}

@media screen and (max-width: 480px) {
    .content {
        padding: 15px;
        width: 85%;
    }
}